version: '3'
services:
  nextjs-app:
    image: rjgilo2799/is373-nextjs:master
    container_name: is373-nextjs-development
    pull_policy: always
    restart: always
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app
    labels:
      - com.centurylinklabs.watchtower.enable=true