version: '3.8'
services:
  nextjs-app:
    container_name: is373-nextjs
    build: 
      context: .
      target: runner
    image: carlomos/nextjs-app:latest
    ports:
      - "3000:3000"
    labels:
      - com.centurylinklabs.watchtower.enable=true
    environment:
      NODE_ENV: development