name: Attendance Tracker

on:
  workflow_dispatch:

jobs:
  update-attendance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.ATTENDANCE_TOKEN }}
      - name: Update class_attendance.md
        run: echo -e "| $(date)    | ${GITHUB_ACTOR}           | Attended |\n" >> class_attendance.md
      - name: Commit and push
        run: |
          git config --local user.email "${GIT_EMAIL}"
          git config --local user.name "${GITHUB_ACTOR}"
          git add class_attendance.md
          git commit -m "Docs: ${GITHUB_ACTOR} updating attendance"
          git push
